.table-container-main {
  margin: 72px 0 0 400px;
  padding: 0 50px;
  color: var(--compFontColor);
  height: calc(100vh - 72px);
}

.table-title-container {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--compFontColor);
  padding: 0 0 20px 0;
  margin: 0 0 20px 0;
}

.table-title {
  font-family: "Mitr", sans-serif;
  font-weight: 400;
  font-size: 36px;
  margin: 0 0 0 10px;
  padding: 0;
  /* border-bottom: 1px solid var(--compFontColor); */
}

.table-container {
  min-height: 100px;
  max-height: calc(100% - 56.5px - 40px - 1px);
  box-sizing: border-box;
  padding: 0 20px;
}
