.addComponentBox {
  display: flex;
  flex-direction: column;
}

.user-input-heading {
  display: flex;
  align-items: center;
  margin: 30px 0 30px 0;
}

.user-input-title {
  font-family: "Mitr", sans-serif;
  font-weight: 400;
  font-size: 24px;
  margin: 0 0 0 5px;
  padding: 0;
  text-align: left;
  color: var(--compOneFontColor);
}

.text-field {
  margin-bottom: 30px;
}
