:root {
  --compBackground: #faf0e6;
  --compFontColor: black;
  --headerBackground: #20232a;
  --headerFontColor: #faf0e6;
}

/* light mode colors
        compBackground: #faf0e6
        compFontColor: black
        headerBackground: #20232a
        headerFontColor: #faf0e6

    dark mode colors
        compBackground: #20232a
        compFontColor: white
        headerBackground: #16181d
        headerFontColor: #ff8c00 */
