.user-input-container {
  min-width: 400px;
  position: fixed;
  top: 138.5px;
  z-index: -1;
  background-color: var(--compBackground);
}

.user-input-flex {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 20px;
  height: calc(100vh - 138.5px);
  max-width: 360px;
}

.text-field {
  margin-bottom: 20px;
}

#error-alert {
  display: none;
}

#success-alert {
  display: none;
}

.user-input-title {
  font-family: Roboto;
  margin: 30px 0 30px 0;
  padding: 0;
  text-align: center;
  color: var(--compFontColor);
}
