.container {
  max-width: 500px;
}

.flex-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  position: relative;
}

.text-field {
  margin-bottom: 10px;
}

#error-alert {
  display: none;
}

#success-alert {
  display: none;
}
