.header-container-flex {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* background-color: var(--headerBackground); */
  box-shadow: 5px 0px 5px 5px var(--dropShadowColor);
  padding: 10px 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.title {
  font-family: "Libre Barcode 39 Text", cursive;
  text-align: center;
  color: var(--headerFontColor);
  /* font-weight: 900; */
  margin: 0;
  padding: 0 10px;
}

.right-align {
  position: absolute;
  top: 0;
  right: 0;
}

/* font-family: 'Faster One', cursive;
font-family: 'Libre Barcode 39 Text', cursive;
font-family: 'Mitr', sans-serif; 200-700
font-family: 'Potta One', cursive;
font-family: 'Rubik Puddles', cursive; */
